<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Admin Experience</title>
    <link rel="stylesheet" href="../lib/salesforce-lightning-design-system-2.4.6/assets/styles/salesforce-lightning-design-system.css" />
    <style>
      .slds-global-header {
        padding-top: 50px;
        padding-bottom: 40px;
      }
      
      .main-body {
        margin-top: 90px;
        padding: 50px;
      }

      .slds-form-element {
        margin-top: 30px;
      }

      .show {
        display: block;
      }

      .hide {
        display: none;
      }

      .radio-buttons {
        margin-top: 70px;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script src="./js/createFeature.js"></script>
  </body>
</html>