<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Admin Experience</title>
    <link rel="stylesheet" href="../lib/salesforce-lightning-design-system-2.4.6/assets/styles/salesforce-lightning-design-system.css" />
    <style>
      .main-body {
        margin-top: 10px;
        padding: 50px;
      }

      .slds-form-element {
        margin-top: 30px;
      }

      .show {
        display: block;
      }

      .hide {
        display: none;
      }

      .radio-buttons {
        margin-top: 70px;
      }
    </style>
  </head>
  <body>
    <header class="slds-global-header_container"><a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text_focus">Skip to Navigation</a><a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text_focus">Skip to Main Content</a>
      <div class="slds-global-header slds-grid slds-grid_align-spread">
        <div class="slds-global-header__item">
          <div class="slds-global-header__logo">
            <img src="../lib/salesforce-lightning-design-system-2.4.6/assets/images/logo-noname.svg" alt="" />
          </div>
        </div>
        <div class="slds-global-header__item slds-grid_vertical-align-center">
          Admin Experience
        </div>
        <ul class="slds-global-header__item slds-grid slds-grid_vertical-align-center">
          <li class="slds-dropdown-trigger slds-dropdown-trigger_click slds-p-horizontal_xxx-small">
            <button class="slds-button slds-button_brand" title="Global Actions" onclick="createFeature()">
              Create
            </button>
          </li>
        </ul>
      </div>
    </header>
    <div class="main-body">
      <div class="body">
        <div class="slds-form-element">
          <label class="slds-form-element__label" for="text-input-id-1">Feature Name</label>
          <div class="slds-form-element__control">
            <input type="text" id="name" class="slds-input" placeholder="Work Item Number" />
          </div>
        </div>
        <fieldset class="slds-form-element radio-buttons">
          <legend class="slds-form-element__legend slds-form-element__label">Scratch Org</legend>
          <div class="slds-form-element__control">
            <div class="slds-radio_button-group">
              <span class="slds-button slds-radio_button" onclick="toggleOption(1)">
                <input type="radio" name="orgSelection" id="new" value="on" checked/>
                <label class="slds-radio_button__label" for="new">
                  <span class="slds-radio_faux">Create New</span>
                </label>
              </span>
              <span class="slds-button slds-radio_button" onclick="toggleOption(2)">
                <input type="radio" name="orgSelection" id="existing" value="off" />
                <label class="slds-radio_button__label" for="existing">
                  <span class="slds-radio_faux">Existing</span>
                </label>
              </span>
            </div>
          </div>
          <div id="newDiv">
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="text-input-id-1">Template File Location</label>
              <div class="slds-form-element__control">
                <input type="text" id="location" class="slds-input" placeholder="Enter location of template" value="/config/project-scratch-def.json"/>
              </div>
            </div>
          </div>
          <div id="existingDiv">
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="select-01">Select Existing Scratch Org</label>
              <div class="slds-form-element__control">
                <div class="slds-select_container">
                  <select class="slds-select" id="scratchOrgs">
                  </select>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <script>
      const {ipcRenderer} = require('electron')

      var orgs

      ipcRenderer.send('getScratchOrgs')
      ipcRenderer.once('orgs', (event, o) => {
        orgs = o
      })
      
      const populateOrgs = () => {

        const root = document.getElementById('scratchOrgs')
        while (root.firstChild) {
          root.removeChild(root.firstChild)
        }

        if (orgs) {
          orgs.forEach(org => {
            const option = document.createElement('option')
            option.innerText = org
            root.appendChild(option)
          })
        }
      }

      const toggleOption = (state) => {
        if (state == 1) {
          document.getElementById('newDiv').className = 'show'
          document.getElementById('existingDiv').className = 'hide'
        } else {
          document.getElementById('newDiv').className = 'hide'
          document.getElementById('existingDiv').className = 'show'
          populateOrgs()
        }
      }

      toggleOption(1)

      function createFeature() {
        const name = document.getElementById('name').value
        const location = document.getElementById('location').value
        const existingOrg = document.getElementById('scratchOrgs').value

        ipcRenderer.send('createFeature', {
          name,
          location,
          existingOrg
        })
      }
    </script>
  </body>
</html>