<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Admin Experience</title>
    <link rel="stylesheet" href="../lib/salesforce-lightning-design-system-2.4.6/assets/styles/salesforce-lightning-design-system.css" />
    <style>
      .main-body {
        margin-top: 50px;
      }

      #noChanges {
        display: none;
        padding: 50px;
      }

      .slds-badge {
        padding: 3px;
        width: 70px;
        text-align: center;
        font-weight: bolder;
      }

      .message-body {
        padding: 50px;
      }

      .Add {
        background-color: rgb(75, 202, 129) !important;
      }

      .Changed {
        background-color: #ffb75d !important;
      }

      .Deleted {
        background-color: #c23934 !important;
      }

      td.badge {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    </style>
  </head>
  <body>
    <header class="slds-global-header_container"><a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text_focus">Skip to Navigation</a><a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text_focus">Skip to Main Content</a>
      <div class="slds-global-header slds-grid slds-grid_align-spread">
        <div class="slds-global-header__item">
          <div class="slds-global-header__logo">
            <img src="../lib/salesforce-lightning-design-system-2.4.6/assets/images/logo-noname.svg" alt="" />
          </div>
        </div>
        <div class="slds-global-header__item slds-grid_vertical-align-center">
          Admin Experience
        </div>
        <ul class="slds-global-header__item slds-grid slds-grid_vertical-align-center">
          <li class="slds-dropdown-trigger slds-dropdown-trigger_click slds-p-horizontal_xxx-small">
              <button class="slds-button slds-button_neutral" title="Cancel" onclick="cancel()">
                Cancel
              </button>
              <button class="slds-button slds-button_brand" title="Commit" onclick="pushToServer()">
                Commit
              </button>
          </li>
        </ul>
      </div>
    </header>
    <div class="main-body">
      <div id="mainTable">
        <div class="slds-form-element message-body">
          <label class="slds-form-element__label" for="message">Commit Message</label>
          <div class="slds-form-element__control">
            <input type="text" id="message" class="slds-input" placeholder="Enter Message here...." />
          </div>
        </div>
        <table class="slds-table slds-table_bordered slds-table_cell-buffer">
            <thead class="thead-dark">
              <tr>
                <th scope="col">State</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">File Location</th>
              </tr>
            </thead>
            <tbody id="changesList">
            </tbody>
        </table>
      </div>
      <div id="noChanges">
        <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert">
          <span class="slds-assistive-text">warning</span>
          <span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small" title="Description of icon when needed">
            <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../lib/salesforce-lightning-design-system-2.4.6/assets/icons/utility-sprite/svg/symbols.svg#warning" />
            </svg>
          </span>
          <h2>There are no changes in the scratch org.</h2>
        </div>
      </div>
    </div>
    <script>
      const {ipcRenderer, shell} = require('electron')
      const path = require('path')

      ipcRenderer.send('diffs')
      ipcRenderer.once('diffs', (event, {project, data}) => {
        if (data) {
          if (data.length > 0) {
            data.forEach(row => {
              const tr = document.createElement('tr')
              
              const stateTd = document.createElement('td')
              stateTd.className = 'badge'
              stateTd.innerHTML = `<div class="slds-badge ${row.state}">${row.state}</div>`

              const nameTd = document.createElement('td')
              nameTd.innerText = row.fullName
              
              const typeTd = document.createElement('td')
              typeTd.innerText = row.type
              
              const locationTd = document.createElement('td')
              locationTd.innerHTML = `<a href="#">${row.filePath}</a>`
              locationTd.addEventListener('click', (e) => {
                e.preventDefault()
                shell.openItem(path.join(project.directory, row.filePath))
              })

              tr.appendChild(stateTd)
              tr.appendChild(nameTd)
              tr.appendChild(typeTd)
              tr.appendChild(locationTd)

              document.getElementById('changesList').appendChild(tr)
            })
          } else {
            displayNoDiffs()
          }
        } else {
          displayNoDiffs()
        }
      })

      const displayNoDiffs = () => {
        document.getElementById('mainTable').style.display = 'none'
        document.getElementById('noChanges').style.display = 'block'
      }

      const pushToServer = () => {
        ipcRenderer.send('diffResult', {
          action: 'Commit',
          message: document.getElementById('message').value
        })
      }

      const cancel = () => {
        ipcRenderer.send('diffResult', {
          action: 'Cancel'
        })
      }
    </script>
  </body>
</html>