<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Admin Experience</title>
    <link rel="stylesheet" href="../lib/salesforce-lightning-design-system-2.4.6/assets/styles/salesforce-lightning-design-system.css" />
    <link rel="stylesheet" href="./css/common.css" />
    <style>
      .create-project.body {
        margin: 60px 20px 20px 20px;
      }

      #folderLocation {
        width: 92%;
      }
    </style>
  </head>
  <body style="-webkit-app-region: drag">
    <div id="root"></div>
    <script src="./js/projects.js"></script>
    <!-- <script>
      const project = require('../src/client/project')
      project(document)
    </script> -->
  </body>
</html>